.icon-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 1025px) {
  .icon-box {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .icon-box {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .icon-box {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .icon-box {
    padding-top: 20px;
  }
}
@media (min-width: 1025px) {
  .icon-box {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .icon-box {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .icon-box {
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .icon-box {
    padding-bottom: 20px;
  }
}
.icon-box .icon-box__left svg,
.icon-box .icon-box__left img {
  object-fit: scale-down;
}
@media (min-width: 1025px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    height: 2.0833333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    height: 2.0833333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    height: 40px;
  }
}
@media (max-width: 600px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    height: 40px;
  }
}
@media (min-width: 1025px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    width: 2.0833333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    width: 2.0833333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    width: 40px;
  }
}
@media (max-width: 600px) {
  .icon-box .icon-box__left svg,
  .icon-box .icon-box__left img {
    width: 40px;
  }
}
.icon-box .icon-box__right {
  width: calc(100% - 3.125vw);
}
@media only screen and (max-width: 1025px) {
  .icon-box .icon-box__right {
    width: calc(100% - 50px);
  }
}

.icon-box:last-child {
  border: 0 !important;
}

.hover-box {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.hover-box::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 84.95%);
}
.hover-box .hover-box__img {
  width: 100%;
  transition: all 0.5s;
  transform: scale(1);
  object-fit: cover;
}
@media (min-width: 1025px) {
  .hover-box .hover-box__img {
    height: 26.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__img {
    height: 26.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__img {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__img {
    height: 350px;
  }
}
.hover-box .hover-box__details-top {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  top: auto;
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-top: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details-top {
    padding-top: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details-top {
    padding-top: 20px;
  }
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-bottom: 2.6041666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details-top {
    padding-bottom: 2.6041666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details-top {
    padding-bottom: 20px;
  }
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-left: 2.0833333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details-top {
    padding-left: 2.0833333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details-top {
    padding-left: 20px;
  }
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-right: 2.0833333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details-top {
    padding-right: 2.0833333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details-top {
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details-top {
    padding-right: 20px;
  }
}
.hover-box .hover-box__details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  top: auto;
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details {
    padding-top: 20px;
  }
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details {
    padding-bottom: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details {
    padding-bottom: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details {
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details {
    padding-bottom: 20px;
  }
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details {
    padding-left: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details {
    padding-left: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details {
    padding-left: 20px;
  }
}
@media (min-width: 1025px) {
  .hover-box .hover-box__details {
    padding-right: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hover-box .hover-box__details {
    padding-right: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hover-box .hover-box__details {
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .hover-box .hover-box__details {
    padding-right: 20px;
  }
}
.hover-box .hover-box__details .hover-box__details_visible {
  transition: all 0.5s;
  transform: translateY(3.6458333333vw);
}
@media only screen and (max-width: 1025px) {
  .hover-box .hover-box__details .hover-box__details_visible {
    transform: none;
  }
}
.hover-box .hover-box__details .next-btn {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(0.5208333333vw);
}
@media only screen and (max-width: 1025px) {
  .hover-box .hover-box__details .next-btn {
    transform: none;
    opacity: 1;
  }
}
.hover-box:hover .hover-box__details .hover-box__details_visible {
  transition: all 0.5s;
  transform: translateY(0);
}
.hover-box:hover .hover-box__details .next-btn {
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(0);
}
.hover-box:hover .hover-box__img {
  transition: all 0.5s;
  transform: scale(1.05);
}
.hover-box.only-title .hover-box__details_visible {
  transform: none;
}

.hover-box-full-layer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.47);
}

.hover-box-color-bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #dfd3c3;
  z-index: 1;
  opacity: 1;
  transition: all 0.3s;
}
.hover-box-color-bg:hover::before {
  opacity: 0;
  transition: all 0.3s;
}
.hover-box-color-bg:hover p,
.hover-box-color-bg:hover h3,
.hover-box-color-bg:hover div {
  color: #fff !important;
}
.hover-box-color-bg:hover .next-btn--blue {
  color: #fff !important;
}

.package-list .hover-box__img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1025px) {
  .package-list .hover-box__img {
    height: 28.6458333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .package-list .hover-box__img {
    height: 28.6458333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .package-list .hover-box__img {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .package-list .hover-box__img {
    height: 350px;
  }
}

.featured-list-item .hover-box__img {
  height: 100% !important;
}

.experience-sec .hover-box__img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1025px) {
  .experience-sec .hover-box__img {
    height: 32.2916666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .experience-sec .hover-box__img {
    height: 32.2916666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .experience-sec .hover-box__img {
    height: 450px;
  }
}
@media (max-width: 600px) {
  .experience-sec .hover-box__img {
    height: 450px;
  }
}

.hover-box-full-layer-inner picture img {
  height: unset !important;
}

.image-content-sec .image-content-sec__img {
  object-fit: cover;
  border-radius: 10px;
  width: 70%;
}
@media (min-width: 1025px) {
  .image-content-sec .image-content-sec__img {
    height: 31.25vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .image-content-sec .image-content-sec__img {
    height: 31.25vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .image-content-sec .image-content-sec__img {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .image-content-sec .image-content-sec__img {
    height: 350px;
  }
}
@media only screen and (max-width: 1025px) {
  .image-content-sec .image-content-sec__img {
    width: 100%;
  }
}
.image-content-sec .image-content-sec__img-abs {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  height: calc(100% - 10.4166666667vw);
}
@media (min-width: 1025px) {
  .image-content-sec .image-content-sec__img-abs {
    top: 5.2083333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .image-content-sec .image-content-sec__img-abs {
    top: 5.2083333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .image-content-sec .image-content-sec__img-abs {
    top: 50px;
  }
}
@media (max-width: 600px) {
  .image-content-sec .image-content-sec__img-abs {
    top: 50px;
  }
}
@media (min-width: 1025px) {
  .image-content-sec .image-content-sec__img-abs {
    bottom: 5.2083333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .image-content-sec .image-content-sec__img-abs {
    bottom: 5.2083333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .image-content-sec .image-content-sec__img-abs {
    bottom: 50px;
  }
}
@media (max-width: 600px) {
  .image-content-sec .image-content-sec__img-abs {
    bottom: 50px;
  }
}

.faq-sec .faq-sec__img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}
@media (min-width: 1025px) {
  .faq-sec .faq-sec__img {
    height: 40.625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .faq-sec .faq-sec__img {
    height: 40.625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .faq-sec .faq-sec__img {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .faq-sec .faq-sec__img {
    height: 350px;
  }
}

.accordion .accordion-item {
  background: transparent !important;
  border: 0;
  color: #000000;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid #d9d9d9;
}
.accordion .accordion-item:last-child {
  border: 0 !important;
}
.accordion button {
  align-items: flex-start;
  padding-left: 0 !important;
  border-radius: 0 !important;
}
@media (min-width: 1025px) {
  .accordion button {
    padding-bottom: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .accordion button {
    padding-bottom: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .accordion button {
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .accordion button {
    padding-bottom: 20px;
  }
}
@media (min-width: 1025px) {
  .accordion button {
    padding-top: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .accordion button {
    padding-top: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .accordion button {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .accordion button {
    padding-top: 20px;
  }
}
.accordion button,
.accordion .accordion-header,
.accordion .accordion-body {
  background: transparent !important;
  border: 0 !important;
  color: #000000 !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}
.accordion .accordion-header {
  padding-left: 0 !important;
}
.accordion .accordion-body {
  padding-top: 0 !important;
  padding-left: 0 !important;
}
.accordion .accordion-button::after {
  background-image: url("../../../img/down-acc.svg") !important;
}
.accordion .accordion-button:not(.collapsed) {
  color: #000000 !important;
}
.accordion .accordion-button:not(.collapsed) .btn-plus-minus::before {
  opacity: 0;
  transition: all 0.2s;
}

.walkers-accordion .accordion-item {
  background: transparent !important;
  border: 0;
  color: #000000;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.walkers-accordion .accordion-item:last-child {
  border: 0 !important;
}
.walkers-accordion button {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.walkers-accordion button h4 {
  background-color: #b2a994;
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 1025px) {
  .walkers-accordion button h4 {
    width: 10.4166666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion button h4 {
    width: 10.4166666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion button h4 {
    width: 150px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion button h4 {
    width: 150px;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion button h4 {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion button h4 {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion button h4 {
    padding-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion button h4 {
    padding-bottom: 10px;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion button h4 {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion button h4 {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion button h4 {
    padding-top: 10px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion button h4 {
    padding-top: 10px;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion button h4 {
    padding-left: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion button h4 {
    padding-left: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion button h4 {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion button h4 {
    padding-left: 20px;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion button h4 {
    padding-right: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion button h4 {
    padding-right: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion button h4 {
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion button h4 {
    padding-right: 20px;
  }
}
.walkers-accordion button span {
  display: flex;
  align-items: center;
}
.walkers-accordion .accordion-header,
.walkers-accordion .accordion-body {
  background: transparent !important;
  border: 0 !important;
  color: #000000 !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}
.walkers-accordion .accordion-header {
  padding-left: 0 !important;
}
.walkers-accordion .accordion-body {
  padding-left: 0 !important;
}
@media (min-width: 1025px) {
  .walkers-accordion .accordion-body {
    padding-top: 2.0833333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion .accordion-body {
    padding-top: 2.0833333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion .accordion-body {
    padding-top: 15px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion .accordion-body {
    padding-top: 15px;
  }
}
.walkers-accordion .accordion-button {
  color: #000000;
  background: #eceada !important;
  padding-left: 0;
  align-items: stretch;
}
@media (min-width: 1025px) {
  .walkers-accordion .accordion-button {
    padding-right: 1.5625vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion .accordion-button {
    padding-right: 1.5625vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion .accordion-button {
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion .accordion-button {
    padding-right: 20px;
  }
}
.walkers-accordion .accordion-button::after {
  background-image: url("../../../img/down-acc.svg") !important;
  background-position: center;
  height: auto;
}
.walkers-accordion .accordion-button:not(.collapsed) .btn-plus-minus::before {
  opacity: 0;
  transition: all 0.2s;
}
@media (min-width: 1025px) {
  .walkers-accordion .wysiwyg-container-large-p ul {
    padding-left: 0.9375vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion .wysiwyg-container-large-p ul {
    padding-left: 0.9375vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion .wysiwyg-container-large-p ul {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion .wysiwyg-container-large-p ul {
    padding-left: 20px;
  }
}
.walkers-accordion .wysiwyg-container-large-p ul li {
  font-weight: 300;
}
@media (min-width: 1025px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    font-size: 0.9375vw !important;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    font-size: 0.9375vw !important;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    font-size: 14px !important;
  }
}
@media (max-width: 600px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    font-size: 13px !important;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    margin-bottom: 0.5208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    margin-bottom: 0.5208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion .wysiwyg-container-large-p p {
    margin-bottom: 10px;
  }
}
.walkers-accordion.small-number .accordion-button h4 {
  width: 20%;
}
.walkers-accordion.small-number .accordion-button span {
  width: 80%;
}
@media only screen and (min-width: 1025px) {
  .walkers-accordion.small-number .accordion-button h4 {
    width: 12%;
  }
  .walkers-accordion.small-number .accordion-button span {
    width: 85%;
  }
}

.walkers-accordion-transparent .accordion-item {
  background: transparent !important;
  border: 0;
  color: #000000;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid #d9d9d9;
}
.walkers-accordion-transparent .accordion-item:last-child {
  border: 0 !important;
}
.walkers-accordion-transparent button {
  padding-left: 0 !important;
  border-radius: 0 !important;
}
@media (min-width: 1025px) {
  .walkers-accordion-transparent button {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion-transparent button {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion-transparent button {
    padding-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion-transparent button {
    padding-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion-transparent button {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion-transparent button {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion-transparent button {
    padding-top: 15px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion-transparent button {
    padding-top: 15px;
  }
}
.walkers-accordion-transparent button,
.walkers-accordion-transparent .accordion-header,
.walkers-accordion-transparent .accordion-body {
  background: transparent !important;
  border: 0 !important;
  color: #000000 !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}
.walkers-accordion-transparent .accordion-header {
  padding-left: 0 !important;
  color: #000000 !important;
}
@media (min-width: 1025px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p ul {
    padding-left: 0.9375vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p ul {
    padding-left: 0.9375vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p ul {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p ul {
    padding-left: 20px;
  }
}
.walkers-accordion-transparent .wysiwyg-container-large-p ul li {
  font-weight: 300;
}
@media (min-width: 1025px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    font-size: 0.9375vw !important;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    font-size: 0.9375vw !important;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    font-size: 14px !important;
  }
}
@media (max-width: 600px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    font-size: 13px !important;
  }
}
@media (min-width: 1025px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    margin-bottom: 0.5208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    margin-bottom: 0.5208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .walkers-accordion-transparent .wysiwyg-container-large-p p {
    margin-bottom: 10px;
  }
}
.walkers-accordion-transparent .accordion-body {
  padding-top: 0 !important;
  padding-left: 0 !important;
  color: #454545 !important;
}
.walkers-accordion-transparent .accordion-button::after {
  background-image: url("../../../img/down-acc.svg") !important;
}
.walkers-accordion-transparent .accordion-button:not(.collapsed) .btn-plus-minus::before {
  opacity: 0;
  transition: all 0.2s;
}

.welcomeimg-left {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1025px) {
  .welcomeimg-left {
    height: 26.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .welcomeimg-left {
    height: 26.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .welcomeimg-left {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .welcomeimg-left {
    height: 350px;
  }
}
@media only screen and (max-width: 1025px) {
  .welcomeimg-left {
    transform: none !important;
  }
}

.elcomeimg-right {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1025px) {
  .elcomeimg-right {
    height: 22.3958333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .elcomeimg-right {
    height: 22.3958333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .elcomeimg-right {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .elcomeimg-right {
    height: 350px;
  }
}

.featured-list-item {
  height: 100%;
  width: 100%;
}
.featured-list-item .hover-box {
  border: 10px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1025px) {
  .featured-list-item .hover-box {
    top: -13.0208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .featured-list-item .hover-box {
    top: -13.0208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .featured-list-item .hover-box {
    top: 0px;
  }
}
@media (max-width: 600px) {
  .featured-list-item .hover-box {
    top: 0px;
  }
}
@media only screen and (max-width: 1025px) {
  .featured-list-item .hover-box {
    position: relative;
    border: 0;
  }
  .featured-list-item .hover-box .hover-box__img {
    height: 350px !important;
  }
}

.package-sec::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.package-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 60%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fff 86.45%);
}
@media only screen and (max-width: 1025px) {
  .package-sec::before {
    bottom: 15%;
  }
}

@media (min-width: 1025px) {
  .review-sec {
    padding-bottom: 20.8333333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .review-sec {
    padding-bottom: 20.8333333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .review-sec {
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .review-sec {
    padding-bottom: 20px;
  }
}
.review-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 20%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fff 86.45%);
}
@media only screen and (max-width: 1025px) {
  .review-sec::before {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fff 40%);
  }
}

.review-sec-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
@media only screen and (min-width: 1025px) {
  .review-sec-img {
    opacity: 1;
  }
}

.review-img {
  position: absolute;
  left: 0;
}
@media (min-width: 1025px) {
  .review-img {
    height: 27.6041666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .review-img {
    height: 27.6041666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .review-img {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .review-img {
    height: 350px;
  }
}
@media (min-width: 1025px) {
  .review-img {
    bottom: -7.8125vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .review-img {
    bottom: -7.8125vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .review-img {
    bottom: 0px;
  }
}
@media (max-width: 600px) {
  .review-img {
    bottom: 0px;
  }
}
@media only screen and (max-width: 1025px) {
  .review-img {
    display: none !important;
  }
}

.pack-abs-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featured-text {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #cb5222;
}
@media (min-width: 1025px) {
  .featured-text {
    width: 7.2916666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .featured-text {
    width: 7.2916666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .featured-text {
    width: 120px;
  }
}
@media (max-width: 600px) {
  .featured-text {
    width: 120px;
  }
}
@media (min-width: 1025px) {
  .featured-text {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .featured-text {
    padding-top: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .featured-text {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .featured-text {
    padding-top: 20px;
  }
}
@media (min-width: 1025px) {
  .featured-text {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .featured-text {
    padding-bottom: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .featured-text {
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .featured-text {
    padding-bottom: 20px;
  }
}
@media (min-width: 1025px) {
  .featured-text {
    padding-left: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .featured-text {
    padding-left: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .featured-text {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .featured-text {
    padding-left: 20px;
  }
}
@media (min-width: 1025px) {
  .featured-text {
    padding-right: 1.0416666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .featured-text {
    padding-right: 1.0416666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .featured-text {
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  .featured-text {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1025px) {
  .featured-text .heading--22 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
}

.event-sec__img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sustainability-sec .two-item-grid img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1025px) {
  .sustainability-sec .two-item-grid img {
    height: 27.0833333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .sustainability-sec .two-item-grid img {
    height: 27.0833333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .sustainability-sec .two-item-grid img {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .sustainability-sec .two-item-grid img {
    height: 350px;
  }
}

.faq-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 1025px) {
  .faq-title {
    padding-top: 2.6041666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .faq-title {
    padding-top: 2.6041666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .faq-title {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .faq-title {
    padding-top: 20px;
  }
}
@media (min-width: 1025px) {
  .faq-title {
    padding-bottom: 2.6041666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .faq-title {
    padding-bottom: 2.6041666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .faq-title {
    padding-bottom: 0px;
  }
}
@media (max-width: 600px) {
  .faq-title {
    padding-bottom: 0px;
  }
}
@media (min-width: 1025px) {
  .faq-title {
    padding-left: 2.6041666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .faq-title {
    padding-left: 2.6041666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .faq-title {
    padding-left: 0px;
  }
}
@media (max-width: 600px) {
  .faq-title {
    padding-left: 0px;
  }
}
@media (min-width: 1025px) {
  .faq-title {
    padding-right: 2.6041666667vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .faq-title {
    padding-right: 2.6041666667vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .faq-title {
    padding-right: 0px;
  }
}
@media (max-width: 600px) {
  .faq-title {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 1025px) {
  .faq-title {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .counter-wrap .width--45 {
    width: 50% !important;
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  .package-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) {
  .package-list {
    margin-left: -0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1600px) {
  .package-list {
    margin-left: -0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 600px) and (max-width: 1025px) {
  .package-list {
    margin-left: -10px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 600px) {
  .package-list {
    margin-left: -5px;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) {
  .package-list {
    margin-right: -0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1600px) {
  .package-list {
    margin-right: -0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 600px) and (max-width: 1025px) {
  .package-list {
    margin-right: -10px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 600px) {
  .package-list {
    margin-right: -5px;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) {
  .package-list .list-item {
    width: 33.3%;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1600px) {
  .package-list .list-item {
    width: 33.3%;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 600px) and (max-width: 1025px) {
  .package-list .list-item {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 600px) {
  .package-list .list-item {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) {
  .package-list .list-item {
    padding-left: 0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1600px) {
  .package-list .list-item {
    padding-left: 0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 600px) and (max-width: 1025px) {
  .package-list .list-item {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 600px) {
  .package-list .list-item {
    padding-left: 5px;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) {
  .package-list .list-item {
    padding-right: 0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1600px) {
  .package-list .list-item {
    padding-right: 0.78125vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 600px) and (max-width: 1025px) {
  .package-list .list-item {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 600px) {
  .package-list .list-item {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) {
  .package-list .list-item {
    padding-bottom: 1.5625vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1025px) and (max-width: 1600px) {
  .package-list .list-item {
    padding-bottom: 1.5625vw;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 600px) and (max-width: 1025px) {
  .package-list .list-item {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 600px) {
  .package-list .list-item {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 1025px) {
  .package-list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .package-list .list-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 1025px) {
  .blog-grid {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.0416666667vw;
    grid-row-gap: 1.0416666667vw;
  }
  .blog-grid .div1 {
    grid-area: 1/1/4/2;
  }
  .blog-grid .div1 a,
  .blog-grid .div1 img {
    height: 100% !important;
  }
  .blog-grid .div2 {
    grid-area: 1/2/2/3;
  }
  .blog-grid .div3 {
    grid-area: 2/2/3/3;
  }
  .blog-grid .div4 {
    grid-area: 3/2/4/3;
  }
}
@media only screen and (max-width: 1025px) {
  .blog-grid .news-item {
    flex-direction: column;
    text-align: center;
  }
  .blog-grid .news-item .next-btn {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .blog-grid .news-item .content-wrapper {
    padding-left: 0 !important;
    padding-top: 15px !important;
  }
}
@media (min-width: 1025px) {
  .blog-grid .slick-slide {
    padding-bottom: 0.5208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .blog-grid .slick-slide {
    padding-bottom: 0.5208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .blog-grid .slick-slide {
    padding-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .blog-grid .slick-slide {
    padding-bottom: 10px;
  }
}
@media (min-width: 1025px) {
  .blog-grid .slick-slide {
    padding-top: 0.5208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .blog-grid .slick-slide {
    padding-top: 0.5208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .blog-grid .slick-slide {
    padding-top: 10px;
  }
}
@media (max-width: 600px) {
  .blog-grid .slick-slide {
    padding-top: 10px;
  }
}
@media (min-width: 1025px) {
  .blog-grid .slick-slide {
    padding-left: 0.5208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .blog-grid .slick-slide {
    padding-left: 0.5208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .blog-grid .slick-slide {
    padding-left: 10px;
  }
}
@media (max-width: 600px) {
  .blog-grid .slick-slide {
    padding-left: 10px;
  }
}
@media (min-width: 1025px) {
  .blog-grid .slick-slide {
    padding-right: 0.5208333333vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .blog-grid .slick-slide {
    padding-right: 0.5208333333vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .blog-grid .slick-slide {
    padding-right: 10px;
  }
}
@media (max-width: 600px) {
  .blog-grid .slick-slide {
    padding-right: 10px;
  }
}

@media (min-width: 1025px) {
  .hm-experience-card .exp-card-logo {
    height: 4.6875vw;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .hm-experience-card .exp-card-logo {
    height: 4.6875vw;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .hm-experience-card .exp-card-logo {
    height: 40px;
  }
}
@media (max-width: 600px) {
  .hm-experience-card .exp-card-logo {
    height: 40px;
  }
}
/*# sourceMappingURL=home.module.css.map */
